body{
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.cs-container *{
  box-sizing: border-box;
}

.cs-container{
  display: flex;
  flex-flow: column;

}

.cs-container p{
    font-size: 20px;
    line-height: 1.33;
    color: #707070;
    font-weight: 300;
}

.cs-component{
  display: flex;
}

.cs-module{
  width: 100%;
  max-width: 1400px;
  margin: auto;

}
.cs-row{
  display: flex;
  flex-direction: row;
}

.cs-block{
  flex: 1;
  flex-grow: 1;
}


.cs-module h1{
  text-align: center;
  font-size: 54px;
  font-weight: 400;
  margin-bottom: 0;
  color: #000;
}

.cs-row{
  display: flex;
}

@media (max-width: 750px){
.cs-row{
    flex-direction: column;
  }
}

.cs-article h1{
  font-size: 42px;
  font-weight: 300;
}

.cs-article h4{
  font-size: 20px;
  padding-top: 0;
  line-height: 1.33;
  color: black;
  letter-spacing: .1em;
  padding-bottom: 3px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.cs-component h2,
.cs-component h3,
.cs-component h4,
.cs-component h5{
  letter-spacing: .1em;
  text-transform: uppercase;
}

.cs-module h5{
  color: #acacac;

    letter-spacing: .1em;
    text-align: center;
    text-transform: uppercase;
  }

.cs-subtitle{
  margin: 5px 0 0 0;
  font-size: 20px;
  font-weight: 500;
  padding-top: 10px;
}

/* block types */

.cs-fullbleed{

}

.cs-component img{
  width: 100%;
}


.cs-project-title{

}

.cs-overview .cs-module{
  display: flex;
  flex-direction: row;
}
@media (max-width: 800px){
  .cs-overview .cs-module{
    display: flex;
    flex-direction: column;
  }
}

.cs-overview .cs-block:nth-child(1){
  flex-grow: 3;
}

.cs-overview .cs-article .cs-block{
  flex-grow: 1;
}

.cs-scope-list{
  margin: 5% 15%;
}
.cs-scope-list h5{
  text-align: left;
}

.cs-scope-list p{
  padding: 0;
  margin: 0;
  font-weight: 700;
}


.cs-single .cs-module{
  	display: flex;
  justify-content: space-between;
}

.cs-two-across .cs-module{
  	display: flex;
  justify-content: space-between;
}
.cs-two-across .cs-item{

  width: 48%;
}

.cs-three-across .cs-module{
  	display: flex;
  justify-content: space-between;
}
.cs-three-across .cs-item{

  width: 32%;
}

.cs-four-across .cs-module{
  	display: flex;
  justify-content:space-between;
}
.cs-four-across .cs-item{

  width: 22%;
}

.cs-row-reverse{
  flex-direction: row-reverse;;
}

.cs-center-text{
  text-align: center;
}

.cs-display-flex{
  display:flex;
}

.cs-justify-content-center{
  justify-content: center;
}

.cs-align-items-center{
  align-items: center;
}

.cs-callout-left{
  margin-left: 10%;
}

.cs-callout-right{
  margin-right: 10%;
}

.cs-callout{
  width: 75%;
}


.cs-flex-wrap{
  flex-wrap: wrap;
}

.cs-justify-content-space-around{
  justify-content: space-around;
}

.cs-circle-item{
  font-size: 16px;
  margin: 30px 40px;
  text-align: center;
  border-radius: 50%;
  background: #5e656d;
  color: white;
  width: 125px;
  height: 125px;
  padding: 51px 0;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.cs-text{
  padding: 5%;
}
