<!-- cs image + text component -->
<section class="cs-two-across">
  <div class="cs-flex cs-justify-between cs-flex-row-rev page-width">
    <div class="cs-item cs-flex cs-justify-center cs-align-center">
      <div class="cs-callout cs-callout-right">
        <h2>{{text.subheading}}</h2>
        <p>{{text.text}}</p>
      </div>
    </div>
    <div class="cs-item"><img src="{{image.url}}" alt="{{image.alt}}"/></div>
  </div>
</section>
