<!-- cs keywords component -->
<section>
  <div class="page-width cs-flex cs-force-row cs-flex-wrap cs-justify-around">
    {{#each keywords}}
      <div class="cs-circle-item">{{this}}</div>
    {{/each}}
  </div>
</section>
