<!-- cs heding component -->
<section class="cs-heading">
  <div class="page-width cs-center-text">
    <h1>{{COMPONENT.heading}}</h1>
    <h5 class="cs-subtitle">{{COMPONENT.subheading}}</h5>
  </div>
</section>
