<!-- cs two image component -->
<section class="cs-two-across">
  <div class="cs-flex cs-justify-between page-width">
    <div class="cs-item"><img src="{{COMPONENT.image-left-url}}" alt="{{COMPONENT.image-left-alt}}"/></div>
    <div class="cs-item"><img src="{{COMPONENT.image-right-url}}" alt="{{COMPONENT.image-right-alt}}"/></div>
  </div>
</section>
