/* hello */
.cs-container {
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.cs-container p {
  font-size: 20px;
  line-height: 1.33;
  color: #5e656d;
  font-weight: 300;
}
.cs-container h1 {
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 0;
}
.cs-container .cs-heading h1 {
  text-align: center;
  font-size: 54px;
  font-weight: 400;
  margin-bottom: 0;
  color: black;
}
.cs-container h2,
.cs-container h3,
.cs-container h4,
.cs-container h5 {
  letter-spacing: .1em;
  text-transform: uppercase;
}
.cs-container h2 {
  margin-top: 0;
}
.cs-container h4 {
  font-size: 20px;
  padding-top: 0;
  line-height: 1.33;
  color: black;
  letter-spacing: .1em;
  padding-bottom: 3px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.cs-container h5 {
  color: #acacac;
  letter-spacing: .1em;
  text-align: center;
  text-transform: uppercase;
}
.cs-subtitle {
  margin: 5px 0 0 0;
  font-size: 20px;
  font-weight: 500;
  padding-top: 10px;
}
.cs-side-title {
  margin-top: 20px;
}
body {
  margin: 0;
  padding: 0;
}
.cs-center-text {
  text-align: center;
}
.cs-container * {
  box-sizing: border-box;
}
.page-width {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}
.cs-container img {
  width: 100%;
}
.cs-flex-wrap {
  flex-wrap: wrap;
}
.cs-justify-around {
  justify-content: space-around;
}
.cs-justify-between {
  justify-content: space-between;
}
.cs-flex {
  display: flex;
}
@media (max-width: 750px) {
  .cs-flex:not(.cs-force-row) {
    flex-direction: column;
  }
}
.cs-justify-center {
  justify-content: center;
}
.cs-align-center {
  align-items: center;
}
.cs-align-baseline {
  align-items: baseline;
}
.cs-flex-row {
  flex-direction: row;
}
@media (max-width: 750px) {
  .cs-flex-row {
    flex-direction: column;
  }
}
.cs-flex-row-rev {
  flex-direction: row-reverse;
}
@media (max-width: 750px) {
  .cs-flex-row-rev {
    flex-direction: column-reverse;
  }
}
.cs-flex-col {
  flex-direction: column;
}
.cs-flex-col-rev {
  flex-direction: column-reverse;
}
.cs-grow-1 {
  flex: 1;
}
.cs-grow-2 {
  flex: 2;
}
.cs-grow-3 {
  flex: 3;
}
.cs-two-across .cs-item {
  width: 48%;
}
@media (max-width: 750px) {
  .cs-two-across .cs-item {
    width: 100%;
  }
}
.cs-three-across .cs-item {
  width: 32%;
}
@media (max-width: 750px) {
  .cs-three-across .cs-item {
    width: 100%;
  }
}
.cs-four-across .cs-item {
  width: 22%;
}
@media (max-width: 750px) {
  .cs-four-across .cs-item {
    width: 100%;
  }
}
.cs-pad {
  padding: 30px;
}
.cs-pad-sides {
  padding-left: 30px;
  padding-right: 30px;
}
.cs-callout-left {
  margin-left: 10%;
}
.cs-callout-right {
  margin-right: 10%;
}
.cs-callout {
  width: 75%;
}
.cs-circle-item {
  font-size: 16px;
  margin: 30px 40px;
  text-align: center;
  border-radius: 50%;
  background: #5e656d;
  color: white;
  width: 125px;
  height: 125px;
  padding: 51px 0;
  text-transform: uppercase;
  letter-spacing: .1rem;
}
