<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Case Studio - Display your work in style</title>
  <meta name="description" content="An automated tool for designers to create case study pages to add to their site and effectively display their work.">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="dest/css/main.css">
</head>
<body>
  <div class="cs-container cs-flex cs-flex-col">
